* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "inter";
}

@media (max-width: 600px) {

}

/* Font code provided by Google Fonts */
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
}

/* Header Elements */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(3.33333em, calc(3vh + 7em), 7em);
  background: #F4EDEC;
  z-index: 500;
  opacity: 95%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.navlinks {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: clamp(3.33333rem, calc(3vh + 7rem), 7rem);
  width: inherit;
  position: absolute;
  right: 0;
}

.navlinks li {
  display: flex;
  list-style: none;
  width: 100%;
  height: clamp(3.33333rem, calc(3vh + 7rem), 7rem);
  padding: 2.4em;
}

.navlinks li a {
  font-weight: 300;
  font-size: clamp(1.3rem, calc(10vw + 0.5rem), 1.6rem);
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.navlinks li:hover {
  background-color: #E4CECE;
  transition: .2s;
  border-bottom: 0.5rem solid #691f20;
}

.logo {
  display: flex;
  padding-top: min(0.5em, 0.75%);
  padding-left: 1.2em;
  white-space: nowrap;
}

.logo img {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 100%;
  height: auto;
}

.logo a {
  display: flex;
  font-weight: 700;
  font-size: clamp(1.3rem, calc(10vw + 0.5rem), 1.9rem);
  text-decoration: none;
  color: var(--text-black);
}

.logo-text {
  padding-top: 0.8em;
  padding-left: 0.3em;
}

.menu-button {
  display: none;
  position: absolute;
  top: 42px;
  right: 35px;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.menu-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

@media (max-width: 1267px) {

    header.active {
      height: 100dvh;
    }

    .logo {
      position: absolute;
      top: 8.5px;
    }

    .menu-button {
      display: flex;
    }

    .navlinks {
      display: none;
      position: absolute;
      top: 111px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navlinks li {
      width: 100%;
      flex-direction: column;
    }

    .navlinks.active {
      display: flex;
    }

}

/* End of Header Elements */

.main {
  padding-top: 7rem;
}

/* Footer Elements */
.footer-section {
  background: #575757;
  min-width: 375px;
  min-height: 170px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  width: 100%;
}

.footer-connect {
  width: 30%;
}

.footer-connect h1 {
  color: white;
  font-weight: 200;
  font-size: 25px;
}

.footer-connect .socials-icons {
  padding-top: 0.6em;
}

.footer-connect a {
  padding: 0.1em;
}

.socials-icons::selection {
  color: #575757;
}

.instagram {
  width: 25px;
}

.tiktok {
  width: 20px;
  filter: saturate(0%) invert(100%);
}

.footer-find-more {
  display: grid;
  grid-template-areas: 
    "head head head"
    "main main main"
    "main main main";
  grid-template-columns: 50px 87px 50px;
  grid-template-rows: repeat(3, 1fr);
  width: 30%;
  row-gap: 0.5rem;
  column-gap: 4rem;
}

.footer-find-more ul.head {
  grid-area: head;
}

.footer-find-more ul.first-col-second-row {
  grid-column: 1;
  grid-row: 2;
}

.footer-find-more ul.first-col-third-row {
  grid-column: 1;
  grid-row: 3;
}

.footer-find-more ul.second-col-second-row {
  grid-column: 2;
  grid-row: 2;
}

.footer-find-more ul.second-col-third-row {
  grid-column: 2;
  grid-row: 3;
}

.footer-find-more ul.third-col-second-row {
  grid-column: 3;
  grid-row: 2;
}

.footer-find-more li {
  list-style: none;
}

.footer-find-more span {
  font-weight: 200;
  font-size: 25px;
  color: white;
  text-wrap: nowrap;
}

.footer-find-more li a {
  font-weight: 200;
  font-size: 20px;
  color: #C9C9C9;
  text-decoration: none;
}

.footer-find-more li a:visited {
  color: #C9C9C9;
}

.footer-find-more li a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: right;
}

.footer-logo img {
  width: 80px;
}

/* Landing Image Elements */
#home-image-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem);
}

.background-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 7rem);
  z-index: -5;
  background: rgb(23, 23, 23);
}

.landing {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem);
}

.background {
  position: absolute;
  width: 100%;
  height: calc(100vh - 7rem);
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  mask-image: linear-gradient(to right, transparent -50%, 50%, black);
}

.showing {
  opacity: 1;
}

.landing {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 5vw;
  top: 35vh;
  max-width: 50vw;
  max-height: 25vh;
}

.landing h1 {
  z-index: 200;
  font-weight: 700;
  font-size: clamp(1.3rem, calc(10vw + 0.5rem), 2.813rem);
  text-decoration: none;
  color: #9E4243;
  white-space: wrap;
  inline-size: 0;
}

.landing p {
  z-index: 200;
  font-weight: 300;
  font-size: clamp(1.3rem, calc(10vw + 0.5rem), 1.25rem);;
  text-decoration: none;
  color: rgb(206, 206, 206);
  white-space: nowrap;
  padding-top: 0.5rem;
}

.current-highlight {
  display: flex;
  position: absolute;
  background: #F4EDEC;
  z-index: 200;
  width: clamp(5em, calc(50vw + 4.72em), 65em);
  height: clamp(5em, calc(10vh + 2em), 8em);
  top: calc(60vh + 3em);
  right: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  opacity: 0.9;
  border-left: 1em solid;
  border-color: #691f20;
}

.current-highlight h2 {
  position: absolute;
  z-index: 200;
  font-weight: 300;
  font-size: clamp(1.3rem, calc(1.3vw + 0.5rem), 1.7rem);
  color: #000000;
  top: 1.1rem;
  left: 1.1rem;
}

.current-highlight p {
  position: absolute;
  z-index: 200;
  font-weight: 200;
  font-size: clamp(1rem, calc(1vw + 0.1rem), 1.3rem);
  color: rgb(56, 49, 49);
  top: 3.5rem;
  left: 1.1rem;
  padding-right: 1.1rem;
  padding-bottom: 0.5rem;
}

#redirect-containers {
  display: inline-grid;
  position: absolute;
  background: #691f20;
  z-index: 300;
  width: 100%;
  height: calc(10vh + 0.001rem);
  top: 90%;
}

#redirect-containers a:link {
  color: rgb(206, 206, 206);
}

#redirect-containers a:visited {
  color: rgb(206, 206, 206);
}

.choice-a {
  width: 50vw;
  border-right: 0.001rem solid;
  border-color: rgb(206, 206, 206);
  padding-left: 2.5%;
  padding-top: 2.3vh;
}

.choice-a h1 {
  z-index: 200;
  font-weight: 700;
  font-size: clamp(1rem, calc(1.4vw + 0.1rem), 1.5rem);
  color: #F4EDEC;
  white-space: nowrap;
}

.choice-a p {
  z-index: 200;
  font-weight: 300;
  font-size: clamp(0.5rem, calc(1vw + 0.1rem), 1rem);
  color: rgb(206, 206, 206);
}

.choice-b {
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 2.5%;
  padding-top: 2.3vh;
}

.choice-b h1 {
  z-index: 200;
  font-weight: 700;
  font-size: clamp(1rem, calc(1.4vw + 0.1rem), 1.5rem);
  color: #F4EDEC;
  white-space: nowrap;
}

.choice-b p {
  z-index: 200;
  font-weight: 300;
  font-size: clamp(0.5rem, calc(1vw + 0.1rem), 1rem);
  color: rgb(56, 49, 49);
}

#brief-about {
  display: flex;
  flex-direction: row;
  z-index: 200;
  height: 35em;
  width: 100%;
  background: #F4EDEC;
  /*background: rgba(68, 68, 68, 0.18);*/
}

.about-text {
  display: block;
  z-index: 200;
  height: 35em;
  width: 50dvw;
  padding: 6.5em 7em;
}

.about-text h1 {
  z-index: 200;
  font-weight: 700;
  font-size: clamp(0.5rem, calc(3vw + 0.1rem), 2.3rem);
  text-decoration: none;
  color: black;
}

.about-text p {
  z-index: 200;
  font-size: clamp(0.5rem, calc(1vw + 0.1rem), 2rem);
  text-decoration: none;
  color: black;
  margin-top: 1em;
}

.sponsors {
  display: block;
  z-index: 200;
  height: 35em;
  width: 50dvw;
  margin: auto;
  padding: 2em 2em;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.sponsors h1 {
  font-weight: 200;
  font-size: clamp(0.5rem, calc(1.5vw + 0.1rem), 2.5rem);
}

.sponsors img {
  display: flex;
  max-inline-size: 100%;
  margin: auto;
  padding-top: 0.2em;
  align-items: center;
  justify-content: center;
}

.dodlogo {
  width: 16em;
  height: auto;
}

.johnsonjlogo {
  width: 14em;
  height: auto;
}

.sparclogo {
  width: 11em;
  height: auto;
}

#stat-gallery {
  display: flex;
  z-index: 200;
  width: 100%;
  top: 50em;
}

.stat-gallery-container {
  display: flex;
  z-index: 200;
  height: 17.5em;
  width: 100%;
  margin: auto;
  background: #807b7b;
  justify-content: center;
  padding: 2em;
  gap: 20px;
}

.stat-one {
  display: block;
  background-image: url("images/14.JPG");
  background-size: cover;
  width: 23.62em;
  height: 13.5em;
  text-align: center;
}

.stat-two {
  display: block;
  background-image: url("images/15.jpg");
  background-size: cover;
  width: 23.62em;
  height: 13.5em;
  text-align: center;
}

.stat-three {
  display: block;
  background-image: url("images/09.jpg");
  background-size: cover;
  width: 23.62em;
  height: 13.5em;
  text-align: center;
}

.stat-four {
  display: block;
  background-image: url("images/editedaward.jpg");
  background-size: cover;
  width: 23.62em;
  height: 13.5em;
  text-align: center;
}

.stat-gallery h1 {
  color: white;
  font-size: 3rem;
  padding-top: 4.4rem;
  backdrop-filter: blur(2px) brightness(60%);
  font-weight: 700;
}

.stat-gallery p {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 4.05rem; /* necessary to apply backdrop across full image */
  backdrop-filter: blur(2px) brightness(60%);
  font-weight: 300;
}

#design-gallery {
  display: flex;
  margin: auto;
  background-color: rgb(206, 206, 206);
}

.design-gallery-container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 5em;
}

.design-gallery-container h1 {
  padding: 1em 0;
  font-weight: 300;
  font-size: clamp(1.5rem, calc(2vw + 0.5rem), 3rem);
}

.design-gallery-container a {
  color: black;
  font-weight: 300;
  font-size: clamp(1rem, calc(1vw + 0.5rem), 2.5rem);
}

.design-gallery-container a:visited {
  color: black;
}

.gallery-wrapper {
  position: relative;
}

.gallery-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 40px;
  color: #fff;
  background: black;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  transform: translateY(-50%);
}

.gallery-wrapper .slide-button:hover {
  background: #444;

}

.gallery-wrapper .slide-button#prev-slide {
  left: 0;
  display: none;
}

.gallery-wrapper .slide-button#next-slide {
  right: 0;
}

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.gallery-wrapper .image-list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.gallery-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper .image-list .image-item {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.design-gallery-container .x-scrollbar {
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;
  background: rgb(206, 206, 206);
}

.x-scrollbar .scroll-track {
  height: 2px;
  width: 100%;
  background: rgb(190, 190, 190);
  position: relative;
  border-radius: 4px;
}

.x-scrollbar:hover .scroll-track {
  height: 4px;
}

.x-scrollbar .scroll-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.x-scrollbar .scroll-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.x-scrollbar .scroll-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media (max-width: 1023px) {

  .gallery-wrapper .slide-button {
    display: none!important;
  }

  .gallery-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .gallery-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .x-scrollbar .scroll-thumb {
    width: 20%;
  }

}

.wip {
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: left;
}

.wip img {
  position: relative;
  max-width: 150px;
}

.right-align-text {
  text-align: right;
}